.top {
    margin: 40px;
  }
  
  input[type="file"] {
    display: none;
  }
  
  .choose {
    background-color: rgb(124, 255, 222);
    border-radius: 6px;
    color: #000000;
    padding: 5px 10px;
    border-radius: 6px;
    margin-right: 10px;
    padding-bottom: 10px;
  }
  .choose:hover {
    box-shadow: rgba(0, 156, 117, 0.5) 0 3px 8px;
    cursor:pointer;
  }
  .textArea {
    color: rgb(0, 0, 0);
  }
  
  .upload {
    border: 1px solid rgb(124, 255, 222);
    background-color: rgb(124, 255, 222);
    color: #000000;
    padding: 5px 10px;
    border-radius: 6px;
    margin-left: 10px;
  }
  
  .upload:hover {
    box-shadow: rgba(0, 156, 117, 0.5) 0 3px 8px;
    cursor:pointer;
  }
  
  .upload:disabled,
  .upload[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  
  div {
    padding: 5px 10px;
  }